.navbar-expand{
  color: #fff;
  font-family: Ubuntu;
}

.navbar-collapse{
  color: #fff;
  font-family: Ubuntu;
  font-size: medium;
}

footer {
  position: fixed;
  text-align: center;
  padding: 10px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(183,231,246,1) 0%, rgba(56,143,170,1) 56%);
  color: white;
  font-size: medium;
}

